body {
    background-color:#181823;
    color: #C0EEF2;
}


/*headers*/
h1 {
    color: #C0EEF2;
}

.indexhead {
    font-family: Montserrat, sans-serif;
}



/*navigation bar*/
nav {
    background-color: #C0EEF2;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}
.navhead {
    color: #181823;
}

.navlinks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*main grid*/
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.img {
    padding-left: 30px;
}
/*footer*/
footer p {
    color: #181823;
    text-align: center;
    background-color: #C0EEF2;
}

    
/* courses list */
.courses li{
    list-style-type: none;
    border-top: #C0EEF2 2px solid;
    padding: 15px 5px;
}

.courses :first-child{
    border-top: transparent;
}


@media screen and (min-width: 600px) {
    .navlinks{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    }

