body {
    background-color:#40513B
}


/*headers*/
h1 {
    color:#320038;
}

.indexhead {
    font-family: Montserrat, sans-serif;
}

.navhead {
    color: white;
}

/*navigation bar*/
nav {
    background-color: #320038;
    text-align: center;
}

