body {
    background-color:#181823;
    color: #C0EEF2;
}


/*headers*/
h1 {
    color: #C0EEF2;
}

.indexhead {
    font-family: Montserrat, sans-serif;
}



/*navigation bar*/
nav {
    background-color: #C0EEF2;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}
.navhead {
    color: #181823;
   
}
.navlinks{
    
}

/*main grid*/
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.img {
    padding-left: 30px;
}
